.section-sobre {
    background-color: #f8f7ff;
    padding: 100px 20px;
    text-align: center;
}

.paragrafo-sobre {
    line-height: 32px;
}

.container-card {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.img-sobre , .card-sobre {
    width: 50%;
    max-height: 300px;
    border: 1px solid #a2adad;
}

.img-sobre {
    object-fit: cover;
}

.card-sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px 25px;
}

.card-sobre h2 {
    font-size: 36px;
    font-family: 'Anybody',cursive;
    letter-spacing: 5px;
    line-height: 42px;
    text-transform: uppercase;
}

.card-sobre p {
    font-size: 22px;
    color: #4a4a4a;
}

@media (max-width: 768px) {
    .section-sobre {
        padding: 60px 20px;
    }

    .card-sobre {
        padding: 15px;
    }

    .card-sobre h2 {
        font-size: 22px;
    }

    .card-sobre p {
        font-size: 16px;
    }
}

@media (max-width: 550px) {
    .section-sobre {
        padding: 50px 10px;
    }

    .container-card {
        flex-direction: column;
    }

    .img-sobre , .card-sobre {
        width: 100%;
        height: 300px;
    }
}