.section-capa {
    background: linear-gradient(47deg, #000113 0%, #04061d 80%, #04061d 100%);
    background-image: url(/public/assets/capa.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
}

.container-capa {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo-capa, .paragrafo-capa {
    font-family: 'Anybody', cursive;
    max-width: 500px;
}

.paragrafo-capa {
    font-size: 36px;
    color: rgb(196, 196, 196);
}

.titulo-capa {
    text-transform: uppercase;
    color: #fff;
    font-size: 60px;
    margin: 0;
    letter-spacing: 5px;
    line-height: 70px;
}

@media (max-width: 768px) {
    .titulo-capa {
        max-width: 350px;
        font-size: 40px;
    }

    .paragrafo-capa {
        font-size: 20px;
    }
}

@media (max-width: 550px) {
    .section-capa {
        background-position: 89% center;
    }

    .container-capa {
        background-color: rgba(0, 0, 0, 0.6);
    }
}